
#hightable,#myhightable{
    width:50%;
    margin:auto;
    margin-top:8px;
    text-align: center;
}

#hightable td,#myhightable td{
    border: 1px black solid;
}

#highlogo{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#highdiv{
    float: right;
    background-color: #F75B92;
    width: 26%;
    margin-top: 10px;
    margin-right: 20%;
	border: 1px solid blue;
    border-radius: 20px;
    padding:8px;
	height: 585px;
}


@media only screen and (max-width: 1200px) {
  #highdiv {
    float: none;
    margin: 20px auto;
  }
}
